/*
    ADD ONLY SASS VARIABLES/MIXINS - CSS rules will get duplicated
*/
$color_highlight: #8eacff;
$color_bg: whitesmoke;
$color_btn: #2d1c3f;
$color_btn_active: #8eacff;
$color_beat: #64bca4;
$color_text: rgb(22, 16, 32);
